<% if (theme.meta.copyright.enable && page.copyright !== false) { %>
    <div class="post__license">
        <p style="font-weight: bold;">
            <strong><%= __('post.copyright.author') %></strong> <%= theme.meta.author.name %>
        </p>
        <p>
            <strong>
                <%= __('post.copyright.permalink') %>
            </strong>
            <a href="<%= page.permalink %>"><%= page.permalink %></a>
        </p>
        <% (theme.meta.copyright.custom_text || []).forEach((text) => { %>
            <strong>
                <%- markdown(text) %>
            </strong>
        <% }); %>
        <div class="post_reward active">
            <p>打赏博主😘</p>
                <div class="reward-container" style="">
                    <div class="reward-left" style="margin-right: 7px;">
                        <div class="reward-bottom" onclick="window.open('https://space.bilibili.com/479907494', '_blank')" style="cursor: pointer;">
                        bilibili发电⚡
                        </div>
                    </div>
                    <div class="reward-right" style="margin-left: 7px;">
                        <div class="reward-bottom" onclick="window.open('https://qr.alipay.com/fkx12959bsz9jopcduigw41', '_blank')" style="cursor: pointer;">
                        Alipay (移动端)
                        </div>
                    </div> 
                </div>
        </div>

    </div>
<% } %>